body {
	color: #000000;
	background-color: #A0A0A0;
	font-family: Georgia, 
		"Times New Roman", Times, serif; 
}

h1 {
	font-family: Helvetica, 
		Geneva, Arial,SunSans-Regular, sans-serif; 
}

h2 {
	font-family: Helvetica, 
		Geneva, Arial,SunSans-Regular, sans-serif; 
}

h3 {
	font-family: Helvetica, 
		Geneva, Arial,SunSans-Regular, sans-serif; 
}

div.envelope {
	background-color: #ffffff;
    width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	border: solid;
	border-color: black;
    padding-left: 1em;
    padding-right: 2em;
		
}
